    * {
        padding: 0;
        margin: 0;
    }


    /* キャンバス */

    #myCanvas {
        background: #eee;
        display: block;
        margin: 0px auto;
    }


    .gamePad {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .gamePad .sideBarLeft,
    .sideBarRight {
        width: 15%;
        display: flex;
        flex-direction: column;
    }

    /* 両サイド */
    /* 左上 */
    .gameHelp {
        background-color: black;
        height: 50%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: rgb(10, 255, 255) 5px ridge;
    }

    .gameHelp p {
        font-weight: bold;
    }

    .exp {
        text-align: left;
        color: white;
        width: 80%;
    }

    .howtoplay {
        color: orange;
        font-size: 20px;
        font-weight: bold;
    }

    /* 左下 */
    .myInfo {
        background-color: black;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: white;
        border: lightgreen 5px ridge;
    }

    .myInfo>div {
        width: 80%;
    }

    #howToWin {
        font-weight: bold;
    }

    #score {
        font-weight: bold;
    }


    /* 右上 */
    #enemyImage {
        height: 50%;
    }


    /* 右下 */

    .enemyMessageArea {
        background-color: black;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        border: lightcyan 5px ridge;
    }

    .enemyMessageArea>div {
        color: white;
        width: 80%;
    }

    /* ステージセレクト */
    .stageSelect {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .stages {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .stages>div {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }



    .canvasBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }