    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: black;
    }

    /* キャンバス */
    #myCanvas {
        background: #fff;
        display: block;
        margin: 0px auto;
        border: rgb(188, 188, 188) 5px ridge;
    }

    .gamePad {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .sideBarLeft,
    .sideBarRight {
        width: 20%;
        max-width: 250px;
        min-width: 140px;
        display: flex;
        flex-direction: column;
    }

    /* 両サイド */
    /* 左上 */
    .gameHelp {
        background-color: black;
        height: 50%;
        /* canvas.height/2 - (border*2) を設定する。*/
        max-height: 250px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: rgb(10, 255, 255) 5px ridge;
    }


    .exp {
        text-align: left;
        color: white;
        width: 80%;
    }

    .howtoplay {
        color: orange;
        font-size: 20px;
        font-weight: bold;
    }

    /* 左下 */
    .myInfo {
        background-color: black;
        height: 50%;
        /* canvas.height/2 - (border*2) を設定する。*/
        max-height: 250px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: white;
        border: lightgreen 5px ridge;
    }

    .myInfo>div {
        width: 80%;
    }

    #howToWin {
        font-weight: bold;
    }

    #score {
        font-weight: bold;
    }

    .result {
        font-size: 20px;
        margin-top: 10px;
    }

    #ifwin,
    #ifdraw,
    #iflose {
        color: red;
        font-weight: bold;

    }

    /* 右上 */
    #enemyImage {
        height: 50%;
        /* canvas.height/2 - (border*2) を設定する。*/
        max-height: 250px;
        border: rgb(10, 255, 255) 5px ridge;

        display: flex;
        align-items: flex-end;
    }

    #enemyImage img {
        width: 100%
    }

    /* 右下 */
    .enemyMessageArea {
        background-color: black;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 50%;
        /* canvas.height/2 - (border*2) を設定する。*/
        max-height: 250px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: lightgreen 5px ridge;
    }

    .enemyMessageArea>div {
        color: white;
        width: 80%;
    }


    /* ステージセレクト */
    .stageSelect {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    .stages {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .stages>div {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .canvasBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    button {
        padding: 10px 30px;
        font-size: 15px;
        background-color: rgb(0, 67, 83);
        border: 3px rgb(157, 157, 157) solid;


    }

    #stage1 {
        background-image: url("./img/gorira.png");
        background-size: cover;
        background-position: center;
        color: white;
    }

    #stage1:hover {
        background-image: url("./img/gorira_oko.png");
        background-size: cover;
        background-position: center;
    }

    .stage2 {
        visibility: hidden;
    }

    #stage2 {
        color: red;
        font-weight: bold;
        background-image: url("./img/dora.png");
        background-size: cover;
        background-position: center;
    }

    #stage2:hover {
        color: white;
        background-image: url("./img/dora_oko.png");
        background-size: cover;
        background-position: center;
    }

    .stage3 {
        visibility: hidden;
    }

    #stage3 {
        color: white;
        background-image: url("./img/dora.png");
        background-size: cover;
        background-position: center;
    }

    #stage3:hover {
        background-image: url("./img/dora_oko.png");
        background-size: cover;
        background-position: center;
    }